*.pyc
Archive/
ffmpeg.exe
ffplay.exe
ffprobe.exe
*.log
/RestApi/obj/Release/net6.0
settings.ini
*.db
*.mp4
*.gif
*.mp3
*.raw
.venv/*
*.data
/Discord/viperaveil/cache/*
/Discord-ELO/viperaelov2/snekwarselo/.vs/snekwarselo/FileContentIndex/3e68c9d7-1732-497a-9540-09d314c1afc8.vsidx
/Discord-ELO/viperaelov2/snekwarselo/.vs/snekwarselo/FileContentIndex/b55f17a8-c0cb-4501-a6bd-34d913392689.vsidx
/Discord-ELO/viperaelov2/snekwarselo/.vs/snekwarselo/FileContentIndex/cd1385b4-fbe4-47f2-acbb-874e2bc5b376.vsidx
/Discord-ELO/viperaelov2/snekwarselo/.vs/snekwarselo/FileContentIndex/d1a2ff7d-04fe-4194-846c-89f04a04f037.vsidx
/Discord-ELO/viperaelov2/snekwarselo/.vs/snekwarselo/FileContentIndex/da63bade-9837-44a6-9c79-a7b71c7c7503.vsidx
/Discord-ELO/viperaelov2/snekwarselo/.vs/snekwarselo/FileContentIndex/f56c57c8-801f-4a82-88c3-9cfa2c1efaaf.vsidx
/Discord-ELO/viperaelov2/snekwarselo/.vs/snekwarselo/v17/.suo
/Discord-ELO/viperaelov2/snekwarselo/snekwarselo/bin/Debug
/Discord-ELO/viperaelov2/snekwarselo/.vs/snekwarselo/FileContentIndex
/Discord-ELO/viperaelov2/snekwarselo/snekwarselo/obj/Debug
