{% extends "base.html" %} {% block title %}About{% endblock %} {% block
content %}

<div
  class="align-middle"
  type="image/jpg"
  style="
    overflow: hidden;
    max-height: 200px;
    display: flex;
    align-items: center;
  "
>
  <img src="/static/images/SNEKBanner.png" style="width: 100%" />
</div>
<hr />
<h1 class="text-dark">What is Vipera Veil?</h1>
<p>
  We are a competitive 
  <a href="https://robertsspaceindustries.com/orgs/SNEK">Star Citizen</a> Clan focused on PVP. Jump on our voice channels, hang out with us and get to know us!
  If you are interested in joining us please fill in an application.
</p>
<br />
<h2 class="text-dark">We are looking for:</h2>
<p>
    <ul>
        <li>Devotion to the group</li>
        <li>Loyalty</li>
        <li>Respect</li>
        <li>Positivity</li>
        <li>Trustworthy individuals</li>
        <li>Knowledge of the game</li>
        <li>Good humor</li>
        <li>Will to get better/improve</li>
    </ul>
    We are the competitive clan of warriors following the traditions of the Mandalorian from the Star Wars universe. within our team culture we follow the creed to not only create a organization but to create a lifelong bond and family.
</p>
<h2 class="text-dark">The Creed.</h2>
<p>
  Strength is life
  <br>for the strong will have the right to rule
  <br>honor is life for with no honor one may as well be dead
  <br>loyalty is life
  <br>for without ones clan, one has no purpose
  <br>death is life
  <br>one should die as they lived.
</p>

<h2 class="text-dark">Roles:</h2>
<p>
    <h5>Pilots</h5>
        <ul>We are looking for team focused pilots who want to sharpen their skills and learn to fight as one. The correct attitude is the most important. If you bring a willingness to learn, we will teach you the way.</ul>
    <h5>FPS</h5>
        <ul>We are looking for people who work well solo, but also are willing to work as a team for target exploitation and infiltration. Proper attitude and a growth mindset required.</ul>
    <h5>Specialists</h5>
        <ul>We also welcome players who want to explore other aspects of Star Citizen. Anything from mining and hauling to low flying.</ul>
</p>
<h3 class="text-dark">Sound interesting to you?</h3>
<p>Apply <a href="https://veil.azurewebsites.net/">Here</a></p>
{% endblock %}
